<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagaram</title>
  </head>
  <body>
    <h1>This page belonges to @ <%= data.name %></h1>
    <button>Follow</button>
    <button>Message</button>
    <p>
      Followers: <%= data.followers %>&nbsp;&nbsp;&nbsp;&nbsp;Following: <%=
      data.following %>
    </p>
    <hr />
    <% for(let post of data.posts){%>
    <img src="<%= post.image %>" alt="some-img" />
    <p>Like: <%= post.like %></p>
    <p>Comments: <%= post.comments %></p>
    <%} %>
  </body>
</html>
